*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
}

h1, h2, p {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
}

.hero, .skills, .contact{
    width: 100%;
    height: 100vh;
}

.hero{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_hero{
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 50%;
}

.text_hero h1{
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-size: 80px;
}

#AAR{
    color: rgb(0, 0, 0);
    background-color: rgb(238, 241, 48);
}

#kenal{
    color: white;
    background-color: rgb(60, 154, 241);
}


.text_hero p{
    font-size: 20px;
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
}

.profile_pic{
    background-image:url(https://imageplaceholder.net/500x600);
    border: 2px solid black;
    margin: 25px;
    border-radius: 15px;
    filter: drop-shadow( 7px 7px 0px black);
    width: 500px;
    height: 600px;
}


.skills{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills h1{
    margin-top: 40px;
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-size: 120px;
}

.skills ul,li {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-size: 80px;
}

.skills ul {
    margin-top: 30px;
}

.skills li{
    margin-bottom: 26px;
}

.contact{
    background-color: antiquewhite;
}

table{
    background-color: antiquewhite;
    width: 60%;
    height: 40vh;
}

input{
    height: 100%;
    width: 100%;
}

table,tr,td{
    border: 2px solid black;
    border-collapse: collapse;
}

a{
    all: unset;
    color: black;
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-size: 50px;
}

a:hover{
    cursor: pointer;
}

.footer{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.footer p{

}


